@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*
html { 
    background: url(/content/images/white-fabric-texture-background-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

html {
  background-color: #DAD7CD;
}

/* fonts */
h1, h2, h3, h4, h5, h6, p, li, a, i, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #242424;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    margin: 18px 0px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 0px 0px;
}

.font-parisienne {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}

/* colors */
.colors {
    color: #DAD7CD;
    color: #A3B18A;
    color: #588157;
    color: #3A5A40;
    color: #344E41;
}

/* naming */
.naming-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 60px;
}

.naming-container h1 {
    font-size: 120px;
}

.naming-container h2 {
    font-size: 64px;
}

/* intro */
.intro-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* contdown */
.countdown-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 60px;
}

.countdown-container-element {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.countdown-container p {
    font-size: 24px;
    font-weight: 800;
}

#countdown-days, #countdown-hours, #countdown-minutes, #countdown-seconds {
    font-size: 64px;
}

/* timeline */
.timeline-container {
  display: flex;
  margin:0;
  padding: 60px 0px;
  width: 100%;
  &:before {
    content: '';
    position: relative;
    top:0px;
    left:50%;
    bottom:0px;
    transform:translateX(-50%);
    width:4px;
    background-color:#fff;
  }
  .timeline-container-elements {
    width:calc(100% - 80px);
    max-width:800px;
    margin:auto;
    position: relative;
    left:-5px;
    .timeline-container-element {
      width:calc(50% - 80px);
      float:left; 
      padding:20px;
      clear:both;
      text-align:right;
      &:not(:first-child) {
        margin-top:-60px;
      }
      .timeline-container-element-title {
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:#fff;
        &:before {
          content: '';
          position: absolute;
          width:8px;
          height:8px;
          border:4px solid #ffffff;
          background-color:#1D1D1D;
          border-radius:100%;
          top:50%;
          transform:translateY(-50%);
          right:-73px;
          z-index:1000;
        }
        &.big:before {
          width:24px;
          height:24px;
          transform:translate(8px,-50%);
        }
      }
      .timeline-container-element-body {
        color:#aaa;
        p {
          line-height:1.4em;
        }
      }
      &:nth-child(2n) {
        text-align:left;
        float:right;
        .timeline-container-element-title {
          &:before {
            left:-63px;
          }
          &.big:before {
            transform:translate(-8px,-50%);
          }
        }
      }
    }
  }
}

/* rsvp */
.rsvp-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}